#include <bits/stdc++.h>
using namespace std;

class %ClassName% {
public:
    void solve() {
        ios::sync_with_stdio(false); cin.tie(0); cout.tie(0);
        cout.setf(ios::fixed); cout.precision(10);
    }
};
